@font-face {
	font-family: "SEGA LOGO FONT";
	font-style: normal;
	font-weight: normal;
	src: local("SEGA LOGO FONT"), url("./font/SEGA.woff") format("woff");
}
body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #007d7d, #0c195a);
}
.App {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

h1 {
	font-family: "SEGA LOGO FONT";
	font-size: 3rem;
	color: #7af7d9;
	font-weight: normal;
}
h2 {
	font-family: "SEGA LOGO FONT";
	color: #7af7d9;
	font-weight: normal;
	font-size: 2rem;
}

h1 div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.less-info{ 
	transition: all 0.3s ease;
}

input {
	font-size: 15px;
	padding: 10px;
}

.card{
	position:relative;
	height: 43vh;
}
.card {	
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #7af7d0;
	margin: 20px;
	width: 210px;	
	border-radius: 10px;
	transition: all 0.3s ease;
}

.More-info{ 
	padding: 0 10px;
	transition: all 0.3s ease;
}
.More-info h3{ 
	text-align:center;	
}

.More-info span{ 
	font-weight:bold;
}

.card:hover {
	transition: all 0.3s ease;
	transform: scale(1.05);
	box-shadow: 1px 1px 10px #aaa;	
}

.img {
	display: block;
	width: 100%;
}
.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bloc-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
.container-img {
	padding: 0 20px;
}


/* style importé */

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
